<mat-toolbar class="header">
    <img src="./assets/images/pixelpluslogo.png" alt="Pixel Plus Logo">
    <span class="filler"></span>
    <span class="route_items">
      <span (click)="goToHome()">Home</span>
      <span (click)="goToDownload()">Download</span>
      <span (click)="goToChangeLog()">Changelogs</span>
      <span (click)="goToDonate()">Donate</span>
      <span (click)="goToGallery()" >Gallery</span>
      <span (click)="goToContact()">Contact Us</span>
      <a href="https://github.com/PixelPlusUI-Elle">Github</a>
    </span>
</mat-toolbar>