.footer{
    background-color:black;
    color: #ec2020;
    padding: 0 45px;
    height: auto;
    bottom: 0 !important;
    justify-content: center;
    position: fixed;
}
.footer .copyright{
    font-size: 12px;
    font-weight: 500;
}