.star{ 
    color: rgb(204,66,69) !important; 
    font-size: large;
    padding-right: 1rem;
    margin-top: 0.4rem;
}
.expansion_container mat-list-item{ 
    font-size: small; 
    line-height: 1.5;
    height: 2rem;
    color: white;
}

@media only screen and (min-width: 992px){
    .expansion_container{
        margin: 2rem 22rem; 
        width: 50%;
    }
}
@media only screen and (max-width: 600px){
    .expansion_container{ margin: 2rem 2rem; }
}