.container_with_accordion{ padding-bottom: 2rem; }
.expansion_header mat-panel-title{ font-weight: 500; }
.artifact_card{
  background-color: transparent;
  border: 1px solid rgb(204,66,69);
  color: #fff;
  margin: 1rem 0;
}
.artifact_card mat-card-title{ 
  font-size: 1rem;
  margin-top: 0.5rem;
}
.artifact_card mat-card-subtitle{ color: #fff; }
.artifact_card button{ 
  background: rgb(204,66,69) !important;
  background: linear-gradient(90deg, rgba(204,66,69,1) 0%, rgba(9,9,9,1) 75%) !important;
  height: 3rem !important;
  margin-top: 1.75rem;
}
.artifact_card button a{
  color: #fff;
  font-size: large;
  text-decoration: none;
}
.artifact_details{  margin: 0 3rem; }
@media only screen and (min-width: 992px){
  .expansion_container{
      margin: 2rem 22rem; 
      width: 50%;
  }
  .artifact_details{  width: 50%; }
  .artifact_card{ display: flex; }
}
@media only screen and (max-width: 600px){
  .expansion_container{ margin: 2rem 2rem; }
  .artifact_card{ text-align: center;}
}

// scroll text animation
.moving_text {
  height: 50px;  
  overflow: hidden;
  position: relative;
 }
 .moving_text span {
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);

  /* Apply animation to this element */  
  -moz-animation: moving_text 15s linear infinite;
  -webkit-animation: moving_text 15s linear infinite;
  animation: moving_text 15s linear infinite;
 }

 /* Move it (define the animation) */
 @-moz-keyframes moving_text {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes moving_text {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
 }
 @keyframes moving_text {
  0%   { 
    -moz-transform: translateX(100%); 
    -webkit-transform: translateX(100%); 
    transform: translateX(100%);     
      }
  100% { 
    -moz-transform: translateX(-100%); 
    -webkit-transform: translateX(-100%); 
    transform: translateX(-100%); 
       }
 }