.contact_label{ 
  text-transform: uppercase;
  font-size: x-large;
  font-weight: 500;
  text-align: center;
  color: #fff;
  padding-top: 3rem;
}
.telegram_card, .email_card{
    text-align: center;
    border-radius: 40px;
    background-color: #e0594d;
    color: white;
}
.telegram_card mat-card-subtitle, .email_card mat-card-subtitle,
.telegram_card a, .email_card a{ 
    color: white;  
    font-size: 17px;
    margin: 2rem;
}
.telegram_card a, .email_card a{ 
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (min-width: 992px){
  .contact_card{ 
    display: flex;
    margin: 4rem 9rem;
  }

  .telegram_card, .email_card{
    padding: 3rem;
    margin: 0 2rem;
  }
}
@media only screen and (max-width: 600px){
  .contact_card{ 
    margin: 2rem 1rem;
  }
  .telegram_card, .email_card{
    padding: 1rem;
    margin: 1rem 2.5rem;
    height: 10rem;
    width: 30rem;
  }
}