<div class="galary_container">  
    <div class="carousel">
        <div class="col-12">  
            <ngb-carousel>  
                <ng-template ngbSlide *ngFor="let s1 of slideOne">  
                    <img src="{{s1}}" alt="Screenshot">   
                </ng-template>  
            </ngb-carousel>  
        </div>  
        <br><br>
        <div class="col-12">  
            <ngb-carousel>  
                <ng-template ngbSlide *ngFor="let s2 of slideTwo">  
                    <img src="{{s2}}" alt="Screenshot">   
                </ng-template>  
            </ngb-carousel>  
        </div>  
    </div>
</div>  