<div class="donate_container">
    <span class="label">Donate Here</span>
    <div class="flex">
        <mat-card>
            <a href="https://www.paypal.me/uglykid24"><img src="./assets/images/paypal.png" alt="PayPal"></a>
            <mat-card-subtitle> https://www.paypal.me/uglykid24</mat-card-subtitle>
        </mat-card>
        <mat-card>
            <img src="./assets/images/gpay.png" alt="Google Pay">
            <mat-card-subtitle> dwarmachine24@oksbi </mat-card-subtitle>
        </mat-card>
        <mat-card>
            <img src="./assets/images/paytm.png" alt="PayTM">
            <mat-card-subtitle> dwarmachine24@paytm </mat-card-subtitle>
        </mat-card>
    </div>
</div>