@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { 
    background-color: #0a0a0a;
    color: white;
    margin: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
.filler{ flex: 1 1 auto; }
.flex{ 
    display: flex; 
    flex-flow: wrap; 
}

                // Changelog & Download styles

.container_with_accordion{
    align-items: center;
    justify-content: center;
  }
.page_label{ 
    text-transform: uppercase;
    font-size: large;
    font-weight: 500; 
    text-align: center;
    margin: 2rem !important;
}
.expansion_header, .expansion_header:hover{
    height: 4rem;
    background: rgb(204,66,69) !important;
    background: linear-gradient(90deg, rgba(204,66,69,1) 0%, rgba(9,9,9,1) 75%) !important;
}
.expansion_header mat-panel-title{ 
    color: white; 
    font-size: large; 
}
.mat-expansion-panel{ background: unset;}
.mat-expansion-indicator, .mat-expansion-indicator::after{ color: white; font-size: large; }


                // Shared style
.carousel-item, .text_center{ text-align: center;}
